<div class="row">
  <div class="col-md-8">
    <nb-card style="height: 100%;" *ngIf="result">
      <nb-card-header>Serial : {{result.cilindro.serial}}</nb-card-header>
      <nb-card-body>
        <form action="" autocomplete="off">
          <div class="row">
            <!-- tipo de producto oxigeno, actileno, mexcla, etc -->

            <div class="form-group col-md-6" *ngIf="creteViewModel">
              <label for="" class="label"
                [ngClass]="{ 'is-invalid': click && !result.cilindro.tipoDeProductoId }">Tipo</label>
              <nb-select fullWidth [(ngModel)]="result.cilindro.tipoDeProductoId" placeholder="Tipo" name="tipo">
                <nb-option [value]="opt.id" *ngFor="let opt of creteViewModel.tipoDeProducto">
                  {{opt.nombreTipoProducto}}</nb-option>
              </nb-select>
            </div>

            <!-- Cantidad o tamaño del cilindro-->
            <div class="form-group col-md-6" *ngIf="cantidades">
              <label for="" class="label" [ngClass]="{ 'is-invalid': click && !result.cilindro.Cantidad}">Tamaño</label>
              <nb-select fullWidth [(ngModel)]="result.cilindro.cantidad" placeholder="cantidad" name="cantidad">
                <nb-option [value]="opt" *ngFor="let opt of cantidades">
                  {{opt}}</nb-option>
              </nb-select>
            </div>

            <!-- Estado del cilindro -->
            <div class="form-group col-md-6" *ngIf="creteViewModel">
              <label for="" class="label"
                [ngClass]="{ 'is-invalid': click && !cilindro.estadoId }">Ubicacion</label>
              <nb-select fullWidth  [(ngModel)]="result.cilindro.estadoId" placeholder="Estado" name="estado">
                <nb-option [value]="opt.id" *ngFor="let opt of creteViewModel.estados">
                  {{opt.nombreDeEstado}}</nb-option>
              </nb-select>
            </div>

            <!-- Ubicacion -->
            <div class="form-group col-md-6" *ngIf="creteViewModel">
              <label for="" class="label"
                [ngClass]="{ 'is-invalid': click && !cilindro.tamano }">Ubicacion</label>
              <nb-select fullWidth [(ngModel)]="result.ubicacion.isBodega" placeholder="ubicacion" name="ubicacion ">
                <nb-option [value]="true">
                  Bodega</nb-option>
                <nb-option [value]="false">
                  Cliente</nb-option>
              </nb-select>
            </div>

          </div>
          <!-- <div class="row">
            <div class="form-group col-md-6">
              <label for="serial" class="label" [ngClass]="{ 'is-invalid': click && !cilindro.serial }">Tipo</label>
              <input type="text" nbInput fullWidth [(ngModel)]="cilindro.tipoDeProductoId" name="serial" id="serial"
                placeholder="Serial">
            </div>

            <div class="form-group col-md-6">
              <label for="serial" class="label" [ngClass]="{ 'is-invalid': click && !cilindro.serial }">Tamaño</label>
              <input type="text" nbInput fullWidth [(ngModel)]="cilindro.serial" name="serial" id="serial"
                placeholder="Serial">
            </div>
            <div class="form-group col-md-6">
              <label for="serial" class="label" [ngClass]="{ 'is-invalid': click && !cilindro.serial }">Estado</label>
              <input type="text" nbInput fullWidth [(ngModel)]="cilindro.serial" name="serial" id="serial"
                placeholder="Serial">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="label"
                [ngClass]="{ 'is-invalid': click && !cilindro.tamano }">Ubicacion</label>
              <nb-select fullWidth placeholder="Cantidad" name="tamano">
                <nb-option value="1">
                  Bodega</nb-option>
                <nb-option value="2">
                  Cliente</nb-option>
              </nb-select>
            </div>
          </div> -->
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class=" col-md-4">
    <nb-card style="height: 100%;">
      <nb-card-header [ngClass]="{ 'is-invalid': click && !cilindro.tipoDeProductoId }">Historial</nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>
</div>
