<nb-card style="text-align: center;">
  <div class="title h5" style="margin: auto;
    text-align: center;">CONTROL CILINDRO</div>
</nb-card>
<div class="row">
  <!--Oxigeno-->
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-success">
          <h3 style="color: white; font-size: 3rem;">O<span style="font-size: 2rem;">2</span></h3>
          <!-- <i class="nb-audio"></i> -->
          <!-- <ng-content></ng-content> -->
        </div>
      </div>

      <div class="details">
        <div class="title h5">Oxigeno</div>
        <div class="status paragraph-2">on</div>
      </div>
      <div class="actions" style="margin-left: auto; margin-right: 15px;">
        <button nbButton status="primary">
          <nb-icon icon="star"></nb-icon>Modificar
        </button>
      </div>
    </nb-card>
  </div>

  <!--Acetileno-->
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-danger">
          <h3 style="color: white; font-size: 2.5rem; display: flex;">C<span style="font-size: 1.5rem;">2</span>
            H<span style="font-size: 1.5rem;">2</span></h3>
          <!-- <ng-content></ng-content> -->
        </div>
      </div>

      <div class="details">
        <div class="title h5">Acetileno</div>
        <div class="status paragraph-2">on</div>
      </div>
      <div class="actions" style="margin-left: auto; margin-right: 15px;">
        <button nbButton status="primary">
          <nb-icon icon="star"></nb-icon>Modificar
        </button>
      </div>
    </nb-card>
  </div>

  <!--Nitrogeno-->
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-black">
          <h3 style="color: white; font-size: 3rem;">N</h3>
          <!-- <ng-content></ng-content> -->
        </div>
      </div>

      <div class="details">
        <div class="title h5">Nitrogeno</div>
        <div class="status paragraph-2">on</div>
      </div>
      <div class="actions" style="margin-left: auto; margin-right: 15px;">
        <button nbButton status="primary">
          <nb-icon icon="star"></nb-icon>Modificar
        </button>
      </div>
    </nb-card>
  </div>

  <!--Mezcla-->
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-warning">
          <h3 style="color: white; font-size: 2.5rem;">MIX</h3>
          <!-- <ng-content></ng-content> -->
        </div>
      </div>

      <div class="details">
        <div class="title h5">Mezcla</div>
        <div class="status paragraph-2">on</div>
      </div>
      <div class="actions" style="margin-left: auto; margin-right: 15px;">
        <button nbButton status="primary">
          <nb-icon icon="star"></nb-icon>Modificar
        </button>
      </div>
    </nb-card>
  </div>

  <!--Argon-->
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-grey">
          <h3 style="color: white; font-size: 3rem;">A<span style="font-size: 2rem;">r</span></h3>
          <!-- <ng-content></ng-content> -->
        </div>
      </div>

      <div class="details">
        <div class="title h5">Argon</div>
        <div class="status paragraph-2">on</div>
      </div>
      <div class="actions" style="margin-left: auto; margin-right: 15px;">
        <button nbButton status="primary">
          <nb-icon icon="star"></nb-icon>Modificar
        </button>
      </div>
    </nb-card>
  </div>

  <!--Co2-->
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-info">
          <h3 style="color: white; font-size: 3rem;">Co<span style="font-size: 2rem;">2</span></h3>
          <!-- <ng-content></ng-content> -->
        </div>
      </div>

      <div class="details">
        <div class="title h5">Dioxido de carbono</div>
        <div class="status paragraph-2">on</div>
      </div>
      <div class="actions" style="margin-left: auto; margin-right: 15px;">
        <button nbButton status="primary">
          <nb-icon icon="star"></nb-icon>Modificar
        </button>
      </div>
    </nb-card>
  </div>
</div>
