<style>
  .container {
    background-color: #fff;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .contenido {
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
  }

  .contenidoLogo {
    position: absolute;

  }

  .bs-reset {
    margin: 0;
    padding: 0;
  }


  .login-6 {
    padding-top: 80px;
    margin-left: 80px;
  }

  .tituloInicial {
    font-size: 30px;
    font-weight: 300;
    color: #4e5a64;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .texto {
    color: #a0a9b4;
    font-size: 15px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
    margin: 20px 0;
  }

  .login-content {
    margin-top: 35%;
    padding: 0px 80px;
    width: 100%;
  }


  .blue {
    color: #FFF;
    background-color: #3598dc;
    border-color: #3598dc;
  }

  .rem-password {
    margin-top: 10px;
  }

  .forgot-password {
    margin-right: 1rem;
    display: inline-block;


  }

  .forget-password {
    text-decoration: none;
    color: #a4aab2;
    font: 13px "Open Sans", sans-serif;
  }

  .p {
    color: #a4aab2;
    font: 15px "Open Sans", sans-serif;
  }

  .login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    padding: 0 80px;
  }

  .login-social {
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
  }

  .a {
    color: #a9b5be;
    font-size: 18px;
  }

  .login-copyright {
    padding-left: 0;
    margin-top: 6px;
  }

  .copyright {
    color: #a4aab2;
    font: 13px "Open Sans", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .login-bg {
    background-image: url('../../../assets/images/imgLogin/bg1.jpg');
    transition: 1s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  /* .backstretch {
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    z-index: -999998;
    position: absolute;
  }

  .cambioDeImajen {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: none;
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
    z-index: -999999;
    top: 0px;
  } */
</style>
<nb-layout style="padding: 0;">
  <nb-layout-column style="padding: 0; flex: 0;">
    <!-- <main class="container-fluid w-100" role="main">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center bg-white mnh-100vh">
          <a class="u-login-form py-3 mb-auto" href="index.html">
            <img class="img-fluid" src="../../../assets/images/CreAppsLogo380.png" width="160" alt="CreApps">
          </a>

          <div class="u-login-form">
            <form class="mb-3" action="/">
              <div class="mb-3">
                <h1 class="h2">Bienvenido!</h1>
                <p class="small">Inicia sesión con tu usuario y contraseña asignados.</p>
              </div>

              <div class="form-group mb-4">
                <label for="email">Usuario</label>
                <input id="email" class="form-control" name="email" type="email"
                  placeholder="Ingresa tu usuario asignado">
              </div>

              <div class="form-group mb-4">
                <label for="password">Contraseña</label>
                <input id="password" class="form-control" name="password" type="password"
                  placeholder="Ingresa la contraseña asociada">
              </div>

              <div class="form-group d-flex justify-content-between align-items-center mb-4">
                <div class="custom-control custom-checkbox">
                  <input id="rememberMe" class="custom-control-input" name="rememberMe" type="checkbox">
                  <label class="custom-control-label" for="rememberMe">Recordar datos</label>
                </div>

                <a class="link-muted small" href="account-password-recover.html">Olvidaste tu contraseña?</a>
              </div>

              <a class="btn btn-primary btn-block" type="submit" style="color: white" href="/ptw/new-permit">Login</a>
            </form>

          </div>

          <div class="u-login-form text-muted py-3 mt-auto">
            <small><i class="far fa-question-circle mr-1"></i> If you are not able to sign in, please <a
                href="#">contact
                us</a>.</small>
          </div>
        </div>

        <div class="col-lg-6 d-none d-lg-flex flex-column align-items-center justify-content-center bg-light" style="padding: 0">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" data-interval="1000">
                <img class="" style="width:100%;height:100%" src="../../../assets/images/login_bg.jpg"
                  alt="Image description">
              </div>
              <div class="carousel-item" data-interval="1000">
                <img class="" style="width:100%;height:100%" src="../../../assets/images/login_bg2.jpg"
                  alt="Image description">
              </div>
              <div class="carousel-item active" data-interval="1000">
                <img class="" style="width:100%;height:100%" src="../../../assets/images/login_bg3.jpg"
                  alt="Image description">
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>  -->
    <div class="container">
      <div class="form-row contenido bs-reset">
        <div class="col-md-6 bs-reset">
          <div class="contenidoLogo">
            <img class="login-6" src="../../../assets/images/Oxiyopal.jpeg" width="300" alt="CreApps">
          </div>
          <div class="login-content">
            <h1 class="tituloInicial">Gases Industriales</h1>
            <p class="texto"> Ingrese su usuaio y contraseña para acceder a la plataforma de Oxiyopal </p>
            <br><br><br>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="label" for="input-email">Usuario:</label>
                <input autofocus="" fieldsize="large" fullwidth="" id="input-email" name="text" nbinput=""
                   placeholder="Usuario"
                  class="input-full-width size-large shape-rectangle ng-untouched ng-pristine ng-invalid" required="">
                <!---->
              </div>
              <!-- <div class="col-xs-6">
                <input class="form-control form-control-solid placeholder-no-fix form-group" type="text"
                  autocomplete="off" placeholder="Username" name="username" required /> </div>
              <div class="col-xs-6">
                <input class="form-control form-control-solid placeholder-no-fix form-group" type="password"
                  autocomplete="off" placeholder="Password" name="password" required /> </div>
            </div> -->
              <div class="form-group col-md-6">
                <span class="label-with-link">
                  <label class="label" for="input-password">Contraseña:</label>
                </span><input fieldsize="large" fullwidth="" id="input-password" name="password" nbinput=""
                  placeholder="Contraseña" type="password"
                  class="input-full-width size-large shape-rectangle ng-untouched ng-pristine ng-invalid" required=""
                  minlength="4" maxlength="50">
                <!---->
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="rem-password">
                  <p class="p">Recordarme
                    <input type="checkbox" class="rem-checkbox" />
                  </p>
                </div>
              </div>
              <div class="col-sm-8 text-right">
                <div class="forgot-password">
                  <a href="#" id="forget-password" class="forget-password">¿Olvidó su contraseña?</a>
                </div>
                <button class="btn blue" type="button" [routerLink]='["/oxi/dashboard"]'>Iniciar sesión</button>
              </div>
              <!-- BEGIN FORGOT PASSWORD FORM -->

              <!-- <h3 class="font-green">Forgot Password ?</h3>
                  <p> Enter your e-mail address below to reset your password. </p>
                  <div class="form-group">
                    <input type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
                  <div>
                    <button type="button" id="back-btn" class="btn grey btn-default">Back</button>
                    <button type="button" class="btn blue btn-success uppercase pull-right">Submit</button>
                  </div> -->
              <!-- END FORGOT PASSWORD FORM -->
            </div>
          </div>

          <div class="login-footer">
            <div class="row bs-reset">
              <div class="col-md-5 bs-reset">
                <ul class="login-social">
                  <li>
                    <a href="#" class="a">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="a">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="a">
                      <i class="fab fa-dribbble"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-7 bs-reset">
                <div class="login-copyright text-right">
                  <p class="copyright">Copyright &copy; Keenthemes 2015</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 bs-reset">
          <div class="login-bg" id="imagen">
            <!-- <div class="backstretch">
              <img class="cambioDeImajen" [src]="rutaImagen" alt="CreApps">
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>